// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.responsive-tag {
  font-size: 46%;
  @media (min-width: 800px) {
    font-size: 1em;
  }
}

.instafeed img {
  width: 50%;
  padding: 1%;
  border-radius: 50%;
  @media (min-width: 800px) {
    width: 25%;
    padding: 1%;
    border-radius: 50%;
  }
}

.instamodal {
  text-align: center;
  @media (min-width: 800px) {
    float: right;
  }
}

.name, .instafeed-title {
  font-size: 1.5em;
  font-family: Flaticon;
  margin-top: 40px;
  margin-left: 25px;
  color: #57bb8a;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 800px) {
    text-align: inherit;
  }
}
